@import "./src/assets/variables";

@keyframes aura {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blob-outer-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  inset: 0;
  margin: auto;
}

.blob {
  border-radius: 99999px;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: auto;
  background: linear-gradient(90deg, hsla(0, 100%, 67%, 1), hsla(0, 100%, 89%, 1));
  will-change: transform, background;
  z-index: -10;
  animation: spinBlob 10s ease-in-out infinite;
}

.texture_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./src/assets/nnnoise.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes spinBlob {
  0% {
    transform: rotate(0deg) scale(2.5);
  }

  100% {
    transform: rotate(1turn) scale(2.5);
  }
}

//for older browsers/mobiles
@media (max-width: 768px) {
  .blob {
    animation: none;
    background: linear-gradient(90deg, #ff99c8, #bbd0ff);
  }
}