.completionScreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
    font-family: sans-serif;
    font-size: 2.125rem;

    &__confetti {
        position: absolute;
        z-index: 1;
        top: 0;
        // background: rebeccapurple;
    }

    &__content {
        z-index: 5;
    }

    &__title {
        text-align: center;
    }

    &__choices {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.75rem;
    }

    &__subtitle {
        margin-top: 2rem;
        font-size: 2rem;
    }

    &__buttons {
        display: flex;
        margin-top: 2rem;
        width: 100%;
        justify-content: center;
        gap: 1rem;
        
    }

    &__button {
        padding: 0.75rem;
        font-size: 1.15rem;
        border: none;
        border-radius: 8px;
        font-weight: 500;
        background: rgb(50, 50, 50);
        color: white;
        cursor: pointer;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
}