@use "../../assets/variables" as *;
@use "../../assets/mixins" as *;

.timerButtons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__input {
    @include inputField(5rem, center, var(--shadow), 1.25rem)
  }

  &__icon {
    width: 1.5rem;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__button {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 1rem;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    // background: linear-gradient(135deg, #69eaff, #3b82f6);
    // background: hsl(234, 37%, 22%); //TODO: FOR LIGHT MODE; CREATE VARIABLE FOR DARK
    // background-image: linear-gradient(135deg, #e45932, #f3a93e);
    // background-image: linear-gradient(135deg, #5345ba, #5871f3);
    background: #241d5f;
    // color: $alabaster;
    // color: #0d002e;
    letter-spacing: 1.75px;
    

    






    // color: white;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
  }
}
