@use "../../assets/variables" as *;

.timerDisplay {
    font-family: sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 12rem;
    font-weight: 100;
    // color: $alabaster;
    color: var(--text-color); //TODO: darkmode text color
}