// // colors
// $englishViolet: #554664;
// $aqua: #58ffe5;
// $violet: #9f07ff;
// $purple: #5214b8;
// $indigo: #350da8;
$alabaster: #faf9f6;

// //dark theme gradient backgrounds
// $dark-gradient-1: radial-gradient(
//   circle at 97% 9%,
//   hsla(212.39999999999998, 38%, 58%, 1) 5%,
//   transparent 74%
// );

// $dark-gradient-2: radial-gradient(
//   circle at 49% 0%,
//   hsla(182.35294117647058, 37%, 56%, 1) 5%,
//   transparent 74%
// );

// $dark-gradient-3: radial-gradient(
//     circle at 22% 42%,
//     hsla(234.11764705882354, 37%, 56%, 1) 5%,
//     transparent 72.81233064803996%,
//   );

// $dark-background: #{$dark-gradient-1}, #{$dark-gradient-2}, #{$dark-gradient-3};

// $dark-theme: (
//   bgColor: hsla(256.90382672992814, 100%, 9%, 1),
//   bgGradient: red
// );

// // $light-theme: (

:root {
  --bg-color: hsla(0, 0%, 98%, 1);
  --bg-gradient: radial-gradient(
      circle at 90% 50%,
      hsla(212.3684210526316, 72%, 58%, 1) 5%,
      transparent 74%
    ),
    radial-gradient(
      circle at 49% 0%,
      hsla(182.64705882352945, 68%, 56%, 1) 5%,
      transparent 74%
    ),
    radial-gradient(
      circle at 32% 6%,
      hsla(234, 91%, 56%, 1) 5%,
      transparent 74%
    );
}

.darkmode {
  --bg-color: hsla(256.90382672992814, 100%, 9%, 1);
  --bg-gradient: radial-gradient(
      circle at 97% 9%,
      hsla(212.39999999999998, 38%, 58%, 1) 5%,
      transparent 74%
    ),
    radial-gradient(
      circle at 49% 0%,
      hsla(182.35294117647058, 37%, 56%, 1) 5%,
      transparent 74%
    ),
    radial-gradient(
      circle at 22% 42%,
      hsla(234.11764705882354, 37%, 56%, 1) 5%,
      transparent 72.81233064803996%
    );
}
